/* RT Grafix Styles */

/* Global styles */
body{
  font-family: sans-serif;
}
h1{
  margin-left: 30px;
}
h2{
  font-size: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
}
p{
  color: gray;
  font-size: 14px;
  margin-top: 0;
}

/* Main Divs */

.outer-div{
  display: flex;
  width: 95%;
  border: 1px gray solid;
  border-radius: 10px;
  box-shadow: 1px 2px gray ;
  margin: 30px;
  padding: 20px;
}


#div2{
  background-color: #F0F0F0;
}

.no-image{
  width: 205px;
  height: 268px;
  background-color: white;
}






.pdfs{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    line-height: 20px;

  }

  .pdfs p{
    color: black;
    font-size: 16px;
   }

 #div1-image{
  display: flex;
  justify-content: flex-end;
  }

.copy{
  margin: 0px 20px 20px 20px;


}

/* w3 styles */
/* display: .gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;

}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: .6em;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
} */
