/* RT Grafix Styles */

/* Global styles */
body{
  font-family: sans-serif;
}
h1{
  margin-left: 30px;
}
h2{
  font-size: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
}
p{
  color: gray;
  font-size: 14px;
  margin-top: 0;
}

/* Main Divs */

.outer-div{
  display: flex;
  flex-direction: row;
  width: 95%;
  border: 1px gray solid;
  border-radius: 10px;
  box-shadow: 1px 2px gray ;
  margin: 30px;
  padding: 20px;
}

/* PDF section */
.pdfs{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    line-height: 20px;

  }

  .pdfs p{
    color: black;
    font-size: 16px;
   }

/* Ad Slicks section */
#div2{
  background-color: #F0F0F0;
}

/* Images and images spacing */
 #div1-image{
  display: flex;
  justify-content: flex-end;
  }

  .no-image{
    width: 205px;
    height: 268px;
    background-color: white;
    border: 1px black solid;
  }
  #div3 .no-image{
    height: 179px;
  }

  .images{
    display: flex;
    justify-content: space-between;
  }

  #div2 img, .no-image{
    display: flex;
    flex: 1;
  }

  .desc{
    font-size: .6em;
    text-align: center;
    margin-top: 10px;
  }

.copy{
  width: 100%;
  margin: 0px 20px 20px 20px;
}
